# Imports
- Import libraries
- Import data to df
    - EDA
    - check for NA's
        - NA in rating column, will be dropping
    - check for duplicated
        - No duplicates
- Split dataframe into high_rating(>=9) and low_ratings(<=4)
- NLTK and SpaCy for preprocessing text
    - create nlp object
        - Disable recognizer
    - create several versions of the data
        - lemmatized
        - tokenized
        - lemmatized-joined
        - tokenized-joined    
    - remove stopwords
    - tokenization
    - lemmantization
- Calling word cloud to see to distrubtion

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = "Data-NLP/movie_reviews_v2.csv"
df=pd.read_csv(data)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8650 entries, 0 to 8649
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   review_id       8650 non-null   object
 1   movie_id        8650 non-null   int64
 2   imdb_id         8650 non-null   object
 3   original_title  8650 non-null   object
 4   review          8650 non-null   object
 5   rating          7454 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 405.6+ KB

,review_id,movie_id,imdb_id,original_title,review,rating
0,64ecc16e83901800af821d50,843,tt0118694,花樣年華,This is a fine piece of cinema from Wong Kar-W...,7.0
1,57086ff5c3a3681d29001512,7443,tt0120630,Chicken Run,"A guilty pleasure for me personally, as I love...",9.0
2,5bb5ac829251410dcb00810c,7443,tt0120630,Chicken Run,Made my roommate who hates stop-motion animati...,6.0
3,5f0c53a013a32000357ec505,7443,tt0120630,Chicken Run,A very good stop-motion animation!\r\n\r\n<em>...,8.0
4,64ecc027594c9400ffe77c91,7443,tt0120630,Chicken Run,"Ok, there is an huge temptation to riddle this...",7.0

In [4]:
df.isna().sum()

review_id            0
movie_id             0
imdb_id              0
original_title       0
review               0
rating            1196
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7454 entries, 0 to 8649
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   review_id       7454 non-null   object
 1   movie_id        7454 non-null   int64
 2   imdb_id         7454 non-null   object
 3   original_title  7454 non-null   object
 4   review          7454 non-null   object
 5   rating          7454 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 407.6+ KB

In [7]:
high_rating = df[df['rating']>=9]
low_rating = df[df['rating']<=4]
high_rating.head()

,review_id,movie_id,imdb_id,original_title,review,rating
1,57086ff5c3a3681d29001512,7443,tt0120630,Chicken Run,"A guilty pleasure for me personally, as I love...",9.0
15,608e2744d8cc4a0058dc4272,2621,tt0122459,Return to Me,"Okay, I will admit I can be a bit of an easy g...",9.0
21,5570c897c3a368709c000bca,2787,tt0134847,Pitch Black,All you people are so scared of me. Most days ...,9.0
22,5b92026d0e0a26609c005caa,2787,tt0134847,Pitch Black,One of those few movies that most people don't...,9.0
24,5f98ecffae36680036bc7170,2787,tt0134847,Pitch Black,The movie that put Vin Diesel on the map as Ri...,9.0